<div class="container" style="margin-top: 100px">
  <p>Tên công việc : {{ data.name }}</p>
  <p>Nghành nghề: {{ data.career }}</p>
  <p>Công ty: {{ data.company }}</p>
  <p>Địa chỉ: {{ data.address }}</p>
  <p>Mức lương: {{ data.salary }}</p>
  <p>Địa điểm làm việc: {{ data.location }}</p>
  <p>Ngày kết thúc: {{ data.end_date }}</p>
  <p>Số lượng: {{ data.quantity }}</p>
  <p>Vị trí làm việc: {{ data.work_position }}</p>
  <p>Thời gian làm việc: {{ data.work_time }}</p>
  <p>Mô tả công việc: {{ data.job_description }}</p>
  <p>Yêu cầu công việc: {{ data.job_requirement }}</p>
  <p>Trạng thái: {{ data.status }}</p>
</div>
