
<!-- <div *ngFor="let item of Candidate" class="mt-5">
    <p>Họ và tên {{item.name}}</p>
    <p>email {{item.email}}</p>
    <p>số điện thoại {{item.phone}}</p>
    <p>khu vực ứng tuyển {{item.location}}</p>
    <p>mô tả {{item.describe}}</p>
    <p>file <a href="{{item.fileURL}}" target="_blank">{{item.fileURL}}</a></p>
</div> -->


    <!-- <div class="btn btn-success mb-4">
        <a routerLink="add-recruitment">+ Add new Recruitment</a>
    </div> -->
    
    <table class="table">
        <thead>
            <th scope="col">Họ và tên</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Khu vực ứng tuyển</th>
            <th scope="col">Mô tả</th>
            <th scope="col" class="w-25">File CV</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of Candidate;let i = index">
                
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.location}}</td>   
                <td>{{item.describe}}</td>  
                <td><a href="{{item.fileURL}}" target="_blank">{{item.fileURL}}</a></td>            
            </tr>
        </tbody>
    </table>
   