<div class="container">
    <div class="header d-flex justify-content-between align-items-center p-2">
        <div class="header-logo">
            <a routerLink="/">
                <img src="../../../assets/images/logo.jpg" alt="">
            </a>
        </div>
        <div class="header-menu">
            <ul class="d-flex gap-5 m-0" *ngIf="hidden">
                <li>
                    <a routerLink="/tuyen-dung" data-replace="TUYỂN DỤNG" class="item"> TUYỂN DỤNG
                    </a>
                </li>
                <li>
                    <a routerLink="/lien-he" data-replace="LIÊN HỆ" class="item">LIÊN HỆ

                    </a>
                </li>
            </ul>
            <ul class="d-flex gap-5" *ngIf="!hidden">
                <li>
                    <a routerLink="/admin" class="item">
                        QUẢN LÝ JOB
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/cv-requirement" class="item">
                        QUẢN LÝ CV
                    </a>
                </li>


            </ul>
        </div>
    </div>

</div>