<div class="banner d-flex justify-content-center align-items-center text-white" >
<p data-aos="fade-up" data-aos-duration="2000">Liên hệ</p>
</div>
<div class="container mt-5 mb-5">
    <div class="row m-0">
        <div class="col">
            <h3>THÔNG TIN LIÊN HỆ</h3>
            <h4 class="mt-5">Trung tâm mạng di dộng VNSKY.</h4>
            <p class="font-weight-bold">TRỤ SỞ CHÍNH</p>
            <p>Tầng 4, số 4A đường Huỳnh Thúc Kháng, phường Láng Hạ, quận Đống Đa, Hà Nội.</p>
            <p class="font-weight-bold">EMAIL & SỐ ĐIỆN THOẠI</p>
            <p>@vnsky.vn</p>
            <p>1900 5222 </p>

            <p class="font-weight-bold highlight">Bạn cần hỗ trợ?</p>
            <p>
                <i class="fa fa-phone" aria-hidden="true"></i>
                Hỗ trợ: <span>1900 5222 (1.000đ/Phút)</span></p>
        </div>
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.2759781787486!2d105.80300651623726!3d21.021640661928654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad77e8d3046f%3A0x7cd727406845ba32!2sHateco%20Laroma!5e0!3m2!1svi!2s!4v1689839187208!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
